@model Assessment2___Final.Models.Cause

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cause</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

     

        <dt>
            @Html.DisplayNameFor(model => model.Signed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signed)
        </dd>

    </dl>
</div>
<p>


    @Html.ActionLink("Back to List", "Index")
</p>
