@model IEnumerable<Assessment2___Final.Models.Cause>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Featured Causes</h1>
<hr />

<div class="container-fluid">
   
</div>
 
<!-- Featured Causes content start -->
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <p class="startYourOwnCause">
                <br />
                @Html.ActionLink("Start your own Cause", "Create", null, new { @class = "btn btn-success" })
            </p>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <!-- Pull each created cause from the database and display each of them in a div -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="causeContainer shadow p-3 mb-5 bg-white rounded">
                    <div class="causeImage">
                        <img src="~/Content/images/hands.jpg" class="rounded" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> @Html.DisplayFor(modelItem => item.Title) </h1>
                        <p class="causeDescription">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count:  @Html.DisplayFor(modelItem => item.Signed) </p>
                    </div>

                    <!-- Cause options, Edit (Admin), Details, Delete(Admin), Sign -->

                    <div class="causeActionSection">
                        <!-- Only show this option if the user is signed in and has admin priveleges -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.CauseID }, new { @class = "btn btn-outline-warning" })
                            }
                        }

                        <!-- Allow anonymous viewing of cause details -->
                        @Html.ActionLink("Details", "Details", new { id = item.CauseID }, new { @class = "btn btn-outline-info" })

                        <!-- Only display the delete option if the user is signed in and has admin priveleges -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.CauseID }, new { @class = "btn btn-outline-danger" })
                            }
                        }

                        <!-- Only show sign option if the user is signed in -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Sign", "Sign", new { id = item.CauseID }, new { @class = "btn btn-outline-success" })
                        }
                    </div>

                    <!-- Share buttons for cause -->
                    <div class="socialIcons">
                        <!-- Facebook Share Button -->
                        <div class="fb-share-button" data-href="https://localhost:44303/Causes/Details/1" data-layout="button_count" data-size="small">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44303%2FCauses%2FDetails%2F1&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                    </div>
                    <div class="socialIcons">
                        <!-- Twitter Share button -->
                        <a class="twitter-share-button" id="twitterShare"
                           href="https://twitter.com/intent/tweet">
                            Tweet
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


